:root {
  /* --background: #330300; */
  --background: #470602;
  --textColor: rgb(255, 247, 236);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.quiz-container {
  width: 800px;
  height: 800px;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 0 15px white;
  background-image: url('./img/buddha-quiz-800x800-by.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.question {
  position: absolute;
  top: 55px;
  color: var(--background);
  font-weight: 600;
  font-size: x-large;
  font-family: 'Phudu';
  border: 2px solid var(--background);
  border-radius: 15px;
  padding: 0.2em 1em 0.2em 1em ;
  box-shadow: 0 0 10px var(--background);
  background-color: rgba(255, 255, 255, 0.45);
}

.answers {
  color: var(--background);
  font-family: 'Gluten';
  font-size: x-large;
  font-weight: 500;
}

.goodAnswer {
  position: absolute;
  top: 260px;
  text-align: center;
  color: greenyellow;
  text-shadow: 0 0 1px black;
}

.badAnswer {
  position: absolute;
  top: 140px;
  text-align: center;
  color: red;
  text-shadow: 0 0 1px black;
}

.option1 {
  position: absolute;
  top: 180px;
  right: 470px;
}

.option2 {
  position: absolute;
  top: 280px;
  right: 530px;
}

.option3 {
  position: absolute;
  top: 180px;
  left: 470px;
}

.option4 {
  position: absolute;
  top: 280px;
  left: 530px;
}

label, button {
  cursor: pointer;
}

label {
  padding: 0.4em;
  border: 1px solid var(--background);
  border-radius: 15px;
  box-shadow: 0 0 4px var(--background);
  background-color: rgba(255, 255, 255, 0.25);
}

label:hover {
  border: 2px solid var(--background);
  border-radius: 15px;
  box-shadow: 0 0 12px var(--background);
  background-color: rgba(255, 255, 255, 0.8);
}

.more {
  position: absolute;
  top: 490px;
  width: 420px;
  color: var(--textColor);
  font-family: 'Nunito';
  font-weight: 600;
  text-align: center;
  font-size: 1.3em;
}

.next-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-family: 'Phudu';
  font-weight: bold;
  font-size: large;
  padding: 0.3em;
}

button {
  background-color: var(--background);
  color: var(--textColor);
  border-radius: 8px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}