:root {
  --background: #330300;
  --textColor: rgb(255, 247, 236);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.quiz-container {
  width: 800px;
  height: 800px;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 0 15px white;
  background-image: url('./img/buddha-quiz-800x800-by.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.question {
  position: absolute;
  top: 85px;
  color: var(--background);
  font-weight: 600;
  font-size: x-large;
  font-family: 'Phudu';
}

.options {
  position: absolute;
  top: 490px;
  color: var(--textColor);
  font-family: 'Gluten';
  font-weight: 600;
  font-size: x-large;
  height: 100px;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.1em;
}

label, button {
  cursor: pointer;
}

.result {
  position: absolute;
  top: 465px;
  color: var(--textColor);
  font-family: 'Architects Daughter';
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.more {
  position: absolute;
  top: 510px;
  width: 420px;
  color: var(--textColor);
  font-family: 'Architects Daughter';
  text-align: center;
  font-size: 1.3em;
}

.next-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-family: 'Architects Daughter';
  font-weight: bold;
  font-size: large;
}