body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #330300;
}

.quiz-container {
  width: 800px;
  height: 800px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(255, 255, 255);
  background-image: url('./img/buddha-quiz-800x800-by.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.question {
  position: absolute;
  top: 85px;
  color: #330300;
  font-weight: 600;
  font-size: x-large;
  font-family: 'Phudu';
}

.options {
  position: absolute;
  top: 490px;
  color: rgb(255, 247, 236);
  font-family: 'Gluten';
  font-weight: 600;
  font-size: x-large;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result {
  position: absolute;
  top: 480px;
  color: rgb(255, 247, 236);
  font-family: 'Architects Daughter';
  font-weight: bold;
}

.more {
  position: absolute;
  top: 520px;
  width: 430px;
  color: rgb(255, 247, 236);
  font-family: 'Architects Daughter';
  text-align: center;
}

.next-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-family: 'Architects Daughter';
  font-weight: bold;
  font-size: large;
}